$title-text-color: #212121;
$primary-text-color: #757575;
$accent-color: #2196f3;
$primary-bg-color: #ffffff;
$primary-white-color: #ffffff;
$button-bg-color: #f5f4fa;
$hover-bg-prbutton: #188ce8;
$timing: cubic-bezier(0.4, 0, 0.2, 1);
